NUXT_PUBLIC_API_BASE_URL=http://localhost:8000/api
NUXT_SESSION_PASSWORD=ini-harus-32-karakter-atau-lebih-ya-jadi-ini-harus-32-karakter-atau-lebih-ya
NUXT_OAUTH_GOOGLE_CLIENT_ID=isi_nanti
NUXT_OAUTH_GOOGLE_CLIENT_SECRET=isi_nanti